<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Pharmacy-Stocks-Management-System</title>
      <!-- Font Awesome -->
      <link rel="stylesheet" href="../asset/fontawesome/css/all.min.css">
      <link rel="stylesheet" href="../asset/css/adminlte.min.css">
      <link rel="stylesheet" href="/asset/css/style.css">

   </head>
   <body class="hold-transition sidebar-mini layout-fixed">
      
      <div class="wrapper">
         <!-- Navbar -->
         <nav class="main-header navbar navbar-expand navbar-white navbar-light" style="background-color:#191c24;height: 75px;border: #191c24;">
            <!-- Left navbar links -->
  <ul class="navbar-nav">
     <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"  style="color: rgba(255, 255, 255, 0.577)"><i class="fas fa-bars"></i></a>
     </li>
  </ul>
 
     <div class="row d-flex px-4">
         <div class="card1" style="font-weight: 500">
             <br>
             
             <p class="time-font mb-0 ml-4 mt-auto" id="current_time" style="color:#c2c7d0" ></p>
             <p class="ml-4 mb-4" id="current_date"  style="color:#c2c7d0">Wednesday, 18 October 2019</p>
             <script>
              //  document.getElementById("current_date").innerHTML = Date();
             </script>
         </div>
     </div>
 
     <!-- Right navbar links -->
     <ul class="navbar-nav ml-auto">
        <li class="nav-item">
           <a  class="nav-link" data-widget="fullscreen" href="#" role="button"  style="color: rgba(255, 255, 255, 0.577)">
           <i class="fas fa-expand-arrows-alt" ></i>
           </a>
        </li>
        <li class="nav-item">
           <a class="nav-link" data-widget="fullscreen" href="/logout"  style="color: rgba(255, 255, 255, 0.577)" onclick="return confirm('Do you Want to Logout')" >
           <i class="fas fa-power-off"></i>
           </a>
        </li>
     </ul>
    
  </nav>
  <!-- /.navbar -->
  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4" style="background-color:#191c24;">
   <!-- Brand Logo -->
<a href="index.html" class="brand-link animated swing" style="margin-top:20px;">
<p style="margin-left: 100px"><B>CAPSULE <br>PHARMA</B></p>
<img src="../asset/img/logo1.png" alt="DSMS Logo" width="80" style="margin-top:-65px;margin-top: -120px;">

</a>
<!-- Sidebar -->
<div class="sidebar">
<!-- Sidebar user panel (optional) -->
<div class="user-panel mt-3 pb-3 mb-3 d-flex">
<div class="image">
<img src="../asset/img/admin.png" class="img-circle elevation-2" alt="User Image">
</div>
<div class="info">
<a href="#" class="d-block" style="margin-left:15px;margin-top:5px"><I><%=username%></I></a>
</div>
</div>

<!-- Sidebar Menu -->
<nav class="mt-2">
<ul class="nav nav-pills nav-sidebar flex-column " class="mt" data-widget="treeview" role="menu" data-accordion="false">
<li class="nav-item">
   <a href="/dashboard" class="nav-link">
      <img src="../asset/img/medicine.png" style="width:20px; margin-left: 3.5px;margin-top: -6px; opacity: .75;">
      <p style="margin-left:6px">
         Dashboard
      </p>
   </a>
</li>
<li class="nav-item">
   <a href="#" class="nav-link">
      <img src="../asset/img/user 64.png" style="width:22px; margin-left: 3px; opacity: .75;">
      <p style="margin-left:5px">
         Admin
      </p>
         <i class="right fas fa-angle-left"></i>
   </a>
   <ul class="nav nav-treeview">
      <li class="nav-item">
         <a href="/signup" class="nav-link">
            <i class="nav-icon fa fa-plus"></i>
            <p>Add</p>
         </a>
      </li>
      <li class="nav-item">
         <a href="/userManage" class="nav-link">
            <i class="nav-icon fa fa-list"></i>
            <p>Manage</p>
         </a>
      </li>
   </ul>
</li>
<li class="nav-item">
   <a href="#" class="nav-link">
      <i class="nav-icon fas fa-capsules"></i>
      <p>
         Medicine
      </p>
         <i class="right fas fa-angle-left"></i>
   </a>
   <ul class="nav nav-treeview">
      <li class="nav-item">
         <a href="/addMed" class="nav-link">
            <i class="nav-icon fa fa-plus"></i>
            <p>Add</p>
         </a>
      </li>
      <li class="nav-item">
         <a href="medList" class="nav-link">
            <i class="nav-icon fa fa-list"></i>
            <p>Medicine List</p>
         </a>
      </li>
   </ul>
</li>
<li class="nav-item">
   <a href="#" class="nav-link">
      <img src="../asset/img/report.png" style="width:20px; margin-left: 2px;margin-top: -4px; opacity: .75;">
      <p>
         Reports
      </p>
         <i class="right fas fa-angle-left"></i>
   </a>
   <ul class="nav nav-treeview">
      <li class="nav-item">
         <a href="/reports" class="nav-link">
            <i class="nav-icon fa fa-plus"></i>
            <p>Sales Report</p>
         </a>
      </li>
      <li class="nav-item">
         <a href="/iteminfo" class="nav-link">
            <i class="nav-icon fa fa-list"></i>
            <p>Purchase Reports</p>
         </a>
      </li>
   </ul>
</li>

<li class="nav-item">
   <a href="/invoice" class="nav-link">
      <!--<i class="nav-icon fa fa-tablets"></i>-->
      <img style="width: 19px; margin-left: 3px;margin-top: -4px; opacity: .75;" src="../asset/img/invoice-64.png" alt="" srcset="">
      <p style="margin-left:6px;">
         Invoice
      </p>
   </a>
</li>  



</ul>
</nav>
<!-- /.sidebar-menu -->
</div>
<!-- /.sidebar -->
</aside>
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper" style="background-color:rgb(26,26,39);">
         <!-- Content Header (Page header) -->
         <div class="content-header">
            <div class="container-fluid">
               <div class="row mb-2">
                  <div class="col-sm-6">
                        <h1 class="m-0" style="color: white"><span class="fa fa-capsules"></span> Manage Cart</h1>
                  </div>
                  <!-- /.col -->
                  <div class="col-sm-6">
                     <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Medicines</li>
                     </ol>
                  </div>
                  <!-- /.col -->
               </div>
               <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
         </div>
         <!-- /.content-header -->
         <!-- Main content -->
         <section class="content">
            <div class="container-fluid">
               <div class="card2 card-info" >
                  <div class="card-header" style=" background-image: linear-gradient(to bottom right, rgb(10, 23, 124), rgb(7, 9, 54));">
                     <h3 class="card-title"><center>Medicines Information</center></h3>
                     
                  </div>
                  <!-- /.card-header -->

               <div class="col-md-12" style="background-color: #191c24; color: white;"  >
                  <table id="example1" class="table table-bordered table-striped" style="margin-left: -7px;margin-top:0.5px;width:77.3rem">
                    
                        <tr>
                           <th>Medicine Name</th>
                           <th>Quantity</th>
                           <th>Price</th>
                           <th>Amount</th>
                           <th>Action</th>
                        </tr>
                     
                    
                        <% let total=0; if(sampleData.length> 0)
                        {
                           sampleData.forEach(function(data){  %>


                        <tr>
                           <td>
                              <p class="info"><b><%=data.medicine_name%></b><h6 style="color: red;margin-top:7px;font-size:17px"><%= data.stock %></h6></p>
                              
                           </td>
                           
                        <td style="font-size: 15px;" >
                              <form action="/cartupdate/<%=data.m_id %>" method="post">
                                 <input type="number" value="<%=data.quantity %>" min="1"  max='<%=data.stock%>' onchange="this.form.submit()" 
                                 name="iquantity" class="iquantity" ></td>
                                </form>

                        <td  ><%=data.price%><input type="hidden"  class="iprice" value='<%=data.price%>'></td>
                           
                        <td style="font-size: 15px;" class="itotal"></td>
                         
                        <td class="text-right">
                              <!-- <a class="btn btn-sm btn-success" href="#"><i class="fa fa-pen"></i></a>
                              <a class="btn btn-sm btn-danger" href="/delete-product-cart/<%= data.m_id %>" data-toggle="modal"   onclick="return confirm('do you want to delete <%= data.medicine_name %> ')">
                                 <button type="button" class="btn btn-danger btn-sm"></button></a> -->
                                    <!-- data-target="#delete" -->
                                    <a href="/delete-product-cart/<%= data.m_id %>"
                                       onclick="return confirm('do you want to delete <%= data.medicine_name %> ')">
                                       <button type="button" class="btn btn-danger btn-sm">
                                          <i class="fa fa-trash"></i> Remove
                                       </button>
                                        </a>
                        </td>
                        </tr>
                        <% }); } else { %>
                           
                            
                           <% } %>
                     
                        
                        
                  </table>
               <button type="submit" class="btn btn-primary" style="background-image: linear-gradient(to bottom right, rgb(10, 23, 124), rgb(7, 9, 54));margin-left: 1100px; padding-bottom: 10px;"> <a href="/clearcart" style="color: white;font-weight:550;font-size:1.2rem" onclick="return alert('Removing all items')"> Clear Cart </a></button>
                  <form action="/bill" method="post" style="margin-left: 10px; margin-top: -45px;">
                     <h3 >Grand Total:<h1 name="gtotal"  id="grandtotal" > </h1></h3>
                  </form>
                  
               </div>

   
               <script>
                  var gt=0;
                  var iprice=document.getElementsByClassName('iprice');
                  var iquantity=document.getElementsByClassName('iquantity');
                  var itotal=document.getElementsByClassName('itotal');
                  var grandtotal=document.getElementById('grandtotal');
                  function subTotal(){
                        
                      gt=0;
                      for(i=0;i<iprice.length;i++)
                      {
                          itotal[i].innerText=(iprice[i].value)*(iquantity[i].value);
                          gt=gt+(iprice[i].value)*(iquantity[i].value);
                      }
                      grandtotal.innerText=gt;
                  }
               
                  subTotal();
               
                
               </script>
               

               <form style="background-color: #191c24; color: white;margin-top: -2rem;" action="/bill" method="post">
                  <div class="form-row" style="margin-top:2rem;  background-color: #191c24; color: white;" >
                    <div class="form-group col-md-6" >
                      <label for="inputEmail4" style="margin-left:3px ;">Buyer Name</label>
                      <input type="text" class="form-control" name="bname" id="inputEmail4" placeholder="Email" style="margin-left:3px">
                    </div>
                    
                  </div>
                  <div class="form-row">
                     <div class="form-group col-md-6">
                       <label for="inputEmail4" style="margin-left:3px ;">Mobile Number</label>
                       <input type="number" class="form-control" name="bnum" id="inputEmail4" placeholder="Email" style="margin-left:3px">
                     </div>
                     <div class="form-group col-md-6">
                       <label for="inputPassword4" style="margin-left:3px">Price</label>
                       <input type="text" class="form-control" name="gtotal" id="inputPassword4" placeholder="Password" style="margin-left: -2px">
                     </div>
                   </div>
               
                  <button type="submit" class="btn btn-primary" style="background-image: linear-gradient(to bottom right, rgb(10, 23, 124), rgb(7, 9, 54));align-items: center; margin-bottom: 10px; margin-left: 3px;">Generete Invoice</button>
                </form>
                
            </div>
            
      </div>
      <footer class="page-footer font-small blue" style="margin-top:5rem;margin-left:-1rem">

         <!-- Copyright -->
         <div class="footer-copyright text-center py-3" style="margin-top:1.2rem;color:rgba(186,184,185, 0.845)"><B>© CAPSULE PHARMA</B>
           
         </div>
         <!-- Copyright -->
       
       </footer>
   <!-- /.container-fluid -->
   </section>
   <!-- /.content -->
   
   <!-- /.content-wrapper -->
   
   <!-- ./wrapper -->
   <form>
   <div id="delete" class="modal animated rubberBand delete-modal" role="dialog">
      <div class="modal-dialog modal-dialog-centered">
         <div class="modal-content">
            <div class="modal-body text-center">
               <img src="../asset/img/sent.png" alt="" width="50" height="46">
               <h3>Are you sure want to delete this Received Record?</h3>
              
               <div class="m-t-20"> <a href="#" class="btn btn-white" data-dismiss="modal">Close</a>
                  <button type="submit" class="btn btn-danger">Delete</button>
               </div>
            </div>
         </div>
      </div>
   </div>
   </form>
   <!-- jQuery -->
   <script src="../asset/jquery/jquery.min.js"></script>
   <script src="../asset/js/bootstrap.bundle.min.js"></script>
   <script src="../asset/js/adminlte.js"></script>
   <!-- DataTables  & Plugins -->
   <script src="../asset/tables/datatables/jquery.dataTables.min.js"></script>
   <script src="../asset/tables/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
   <script src="../asset/tables/datatables-responsive/js/responsive.bootstrap4.min.js"></script>s
   <script src="../asset/tables/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
   <script>
               
      const monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December" ]; 
      const d = new Date();
      var dd = String(d.getDate()).padStart(2, '0');
      var mm = String(d.getMonth() + 1).padStart(2, '0');
      var yyyy = d.getFullYear();
      var fullDate = +dd +"-"+ monthNames[d.getMonth()] +"-"+ yyyy;
      document.getElementById("current_date").innerHTML = fullDate;
      
      var today = new Date();
      var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
      document.getElementById("current_time").innerHTML=time;


</script>
   <!-- <script>
      $(function () {
         $("#example1").DataTable();
      });
   </script> -->
  
</body>

</html>